@font-face {
   font-family: 'OxfamRegular';
   src: url('fonts/Oxfam_TSTARPRO-Regular.otf');
   src: url('fonts/Oxfam_TSTARPRO-Regular.otf?#iefix') format('embedded-opentype'),
        url('fonts/Oxfam_TSTARPRO-Regular.otf') format('otf'),
}


body {
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
  font-family: 'OxfamRegular', sans-serif;
}

a, a:link, a:hover, a:visited, a:active,
button, button:link, button:hover, button:visited, button:active {
  outline : none;
  text-decoration: none;
}

