@font-face {
   font-family: 'oxfam_tstarpro-regular-webfont';
   src: url('../fonts/Oxfam_TSTARPRO-Regular.otf');
}

body{
  font-family: "oxfam_tstarpro-regular-webfont";
}

body {
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
  font-family: 'OxfamRegular', sans-serif;
}

a, a:link, a:hover, a:visited, a:active,
button, button:link, button:hover, button:visited, button:active {
  outline : none;
  text-decoration: none;
}


