@font-face {
   font-family: 'OxfamBold';
   src: url('../fonts/Oxfam_TSTARPRO-Bold.otf');
   font-family: 'OxfamRegular';
   src: url('../fonts/Oxfam_TSTARPRO-Regular.otf');
}

body {
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
  font-family: 'OxfamBold', sans-serif;
}

a, a:link, a:hover, a:visited, a:active,
button, button:link, button:hover, button:visited, button:active {
  outline : none;
  text-decoration: none;
}


